@model QuizWebApplication.Models.QuestionViewModel
@{
    ViewData["Title"] = "Question";
}

<h1>@Model.Question.Name</h1>
<form asp-action="Question" asp-controller="Question" asp-route-AnswerId="@Model.AnswerId">
    @foreach (var answer in Model.Answers)
    {
        <input type="radio" name="AnswerId" value="@answer.Id" onclick="changeButtonConditionForRB()" />
        <label for="@answer.Id">@answer.Name</label>
        <br>
    }
    <input type="submit" id="next-button" class="btn btn-primary" value="@ViewData["buttonDescription"]" disabled/>
    </form>
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>