@model QuizWebApplication.Models.StartQuizViewModel
@{
    ViewData["Title"] = ViewData["name"];
}
<h1>@Model.Name</h1>
<h4>@Model.Description</h4>
<p>This test will take approximately @Model.OrientedTime minutes.</p>
<p>Total questions count: @Model.Count</p>
<p>Are you sure?</p>
<label class="form-check-label">I agree to start</label>
<input type="checkbox" onchange="changeButtonCondition()" id="check-accept"><br>
<input type="button" id="accept-button" class="btn btn-primary" value="Proceed" disabled onclick="window.location.href = '@Url.ActionLink(action:"Start", controller:"Question",values:Model)';"/>

